beautifulsoup4==4.12.3
certifi==2024.8.30
chardet==5.2.0
charset-normalizer==3.3.2
idna==3.10
lxml==5.3.0
pdfkit==1.0.0
pillow==10.4.0
reportlab==4.2.4
requests==2.32.3
soupsieve==2.6
tqdm==4.66.5
urllib3==2.2.3
